@import "tailwindcss";

@import "../style/theme.css";
@import "../style/testCss.scss";
@import "../style/shadcn.css";

/* @import "tw-animate-css"; */
/* @plugin "tailwindcss-animate"; */
@custom-variant dark (&: is(.dark *));

/* 1rem = 10px */
/* html {
  font-size: 62.5%; 
} */
body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: system-ui, sans-serif, Helvetica, Arial;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--color-background);
    background: var(--color-foreground);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
