@import 'tailwindcss';

/* theme 다크모드 포함 */
@import '../style/theme.css';

/* 1rem = 10px */
/* html {
  font-size: 62.5%; 
} */
body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: system-ui, sans-serif, Helvetica, Arial;
}

* {
  box-sizing: border-box;
}

.ql-container,
.html-container {
  img {
    display: inline-block !important;
  }
}
